body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: royalblue;
  color: black;
  padding: 0px 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.emision {
  display: flex;
  float: left;
  flex-direction: column;
  margin-bottom: 0px;
  background-color: royalblue;
  margin-bottom: 5px;
  height: 580px;
  width: 80%;
  overflow: auto;
  border-radius: 7px;
}
aside ::-webkit-scrollbar {
  width: 10px;
}
aside ::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
.img-aside {
  width: 100px;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: 0px;
  position: relative;
  top: -55%;
  left: -4px;
  cursor: pointer;
  margin-bottom: 2.5px;
  text-align: center;
}
.p-aside {
  text-decoration: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
.emision ul li {
  list-style: none;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
}
aside {
  margin-top: 6.5px;
  margin-left: 6.5px;
  text-align: center;
  width: 15%;
  height: 15%;
}
.menu-section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  display: flex;
}

/***********************lista productos******************/
.collage-img {
  width: 70%;
}

.collage-img ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.collage-img li {
  width: calc(30% - 0px);
  margin-bottom: 100px;
}

.collage-img img {
  max-width: 75%;
  height: 75%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.collage-img p {
  text-align: center;
  margin: 5px 0;
  /******white-space: nowrap; /* Evita el salto de línea del texto 
  overflow: hidden;  Oculta el exceso de texto 
  text-overflow: ellipsis;*/
}
.p-collage {
  font-size: 40px;
  text-align: center;
}

.h2-collage {
  text-align: center;
}
/*********boton*****************/
.boton {
  display: block;
  margin: 0 auto;
  background-color: royalblue;
  color: black;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}
